<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visit Orchha — A Living Heritage of Madhya Pradesh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
